<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Frame App</title>
    <meta name="description" content="">
    <link rel="shortcut icon" href="/images/favicon.ico">

    <!-- build:css(client/.tmp) /styles/main.css -->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- endbuild -->

    <!-- build:js(client) /scripts/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <div id="container"></div>

    <!-- build:js /scripts/main.js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/lodash/dist/lodash.js"></script>
    <script src="/bower_components/backbone/backbone.js"></script>
    <script src="/bower_components/handlebars/handlebars.js"></script>
    <script src="/bower_components/frame/frame.js"></script>
    <script src="/scripts/templates.js"></script>
    <script src="/scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
